# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version
# control as they are data points which are potentially sensitive and subject
# to change depending on the environment.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Ignore Terraform lock file
.terraform.lock.hcl

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc
avmmakefile
README-generated.md
avm.tflint.hcl
avm.tflint_example.hcl
*tfplan*

# ignore vs code configurations
**/.vscode/*
*.md.tmp
.DS_Store
avm.tflint.merged.hcl
avm.tflint_example.merged.hcl

examples/01-default/01-default
examples/01-default/01-default-destroy
examples/02-customer-managed-key/02-customer-managed-key
examples/02-customer-managed-key/02-customer-managed-key-destroy
examples/03-private-endpoints/03-private-endpoints
.avm-module-testing.ps1
examples/01-default/01-default
examples/03-private-endpoints/03-private-endpoints
examples/02-customer-managed-key/02-customer-managed-key
avm.tflint_module.hcl
avm.tflint_module.merged.hcl
examples/test-TFexamples.ps1
examples/test-TFexamples.ps1
Untitled-1.md
Untitled-2.sh
Untitled-3.sql
Untitled-4.ps1
Untitled-5.yaml
